body,*{margin:0px;padding:0px;}
.no-pad{padding:0px;}
.no-mar{margin:0px;}
body{background: #c8c5ca;}
.wrapper{width:100%;height:auto;min-height:100px;background: url(../images/main-bg.png) no-repeat;
background-size:100% auto;}
.header{background:#fff;width:100%;height:60px;min-height:20px;}
.header ul{margin:0px;padding:0px;float: right;}
.header ul li{list-style:none;float:left;padding:20px 13px 10px;}
.header ul li a{color:#000;}
.header ul li a.active{color:#87193e;}
.logo{position: absolute;}
.header ul li a.user{background: #700d3e;text-align: center;width: 25px;height: 25px;line-height: 25px;text-transform: uppercase;display:inline-block;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;color: #fff}
.inbox{margin-top: 15px;}
.announcement{margin-top: 30px;}
/*.content{height:auto;min-height:250px;display: block;}*/
.content-block{display: block;overflow: hidden;margin-top: 60px;}
.posts{background: #f2f2f2;display: block;overflow: hidden;}
.content-block h3{color: #fff;font-size: 48px;font-weight: 100;line-height: 48px;text-transform: uppercase;}
.content-block h2{color: #fff;font-size: 48px;font-weight: 600;line-height: 48px;margin: 0;text-transform: uppercase;}
.content-block a{background:#232323;color: #e6be58;height: 40px;line-height: 40px;text-transform: uppercase;display: block;padding: 0 20px;margin: 20px 0;}
.content-block a span{margin-right:10px;}
.myinbox{padding:30px 0px 0px;margin-top:60px;display: block;overflow: hidden;}
.bg_color{background:#eee;}
.border_adj{border-bottom:2px solid #6A0E3D;display: block;overflow: hidden;}
.border_adj h4{margin:0px;color:#6A0E3D;font-weight:600;padding-bottom:5px;}.border_adj i{padding-top:13px;font-size:25px;}
.sub_inbox{border-bottom:1px solid #d4d4d4;display: block;overflow: hidden;}
.sub_inbox h5{font-weight:600;color: #232323;}
.sub_inbox p{margin:0px;font-size:11px;padding-bottom:5px;color: #575757;}
.readmore{background:#000;color:#B89225;font-size:16px;text-align:center;padding:10px 6px;}
.user_deatils{background:#FACF5F;padding:20px 0px 20px 10px;}
.user_deatils h3{margin:0px;}.user_deatils h4{margin:0px;}
.user_deatils p{margin:0px;}.user_deatils span{font-size:17px;}
.announcement_main{background:#700C3E;padding:20px 10px;display: block;overflow: hidden;}
.announcement_main i{color:#fff;font-size:40px;text-align:center;padding-top:20px;}
.announcement_main h4{margin:0px;color:#fff;font-weight:600;}
.announcement_main p{color:#fff;padding-top:10px;}
.announcement-banner{max-height: 212px;}
.comments_main{background:#fff;padding-top:30px;}
.sub_announcement span{padding-top:10px;display:inline-block;font-size:11px;}
.sub_announcement h3{margin:0px;padding:10px 0px;}.sub_announcement p{margin:0px;padding:5px 0px 20px;}
.announce_descp{border:1px solid #ddd;}
.announce_descp span{font-size:11px;margin:20px 0px 10px;}
.loading{background:#fff;padding:17px 0px;}
p.user-default{width: 25px;height: 25px;line-height: 25px;text-transform: uppercase;display:inline-block;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;color: #232323;border:1px solid #a9a9a9;text-align: center;font-size:14px;padding: 0;margin-top: 30px;}




.footer{background:#000;padding:10px 0px;margin-top: 30px;}
.block-menu ul{margin:0px;padding:0px;}
.block-menu ul li{list-style:none;float:left;padding:3px 7px;}
.block-menu ul li a{color:#fff;}
.footer_right ul{margin:0px;padding:0px;float:right;}
.footer_right ul li{list-style:none;float:left;padding:3px;}
.footer_right ul li a,
.block-menu ul li a,
.footer_right ul li p,
.block-menu ul li p{color:#fff;font-weight: 100;line-height:30px;}
.footer_right ul li a:hover,
.block-menu ul li a:hover{text-decoration:none;}
.block-menu ul li p{font-size: 14px;}